* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins";
	list-style: none;
	overflow-x: hidden;
}

body {
	background: var(--bck);
	width: 100%;
	overflow-x: hidden;
}

/*---NAV Bar---*/
header {
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	z-index: 10;
}

header .container{
	height: 100%;
	width: 1500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header .container ul {
	display: flex;
}

header .container a img {
	display: flex;
	margin: 0 30px;
}

header .container ul a {
	font-size: 2vw;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	margin: 0 30px;
	-webkit-text-stroke : 1px var(--tclr);
}

header .container ul a::before {

	content: attr(data-text);
	position: absolute;
	color: var(--tclr);
	width: 0;
	overflow: hidden;
	transition: 2s;
	-webkit-text-stroke : 1px var(--tclr);
}

header .container ul a:hover::before {
	width: 100%;
	filter: drop-shadow(0 0 25px var(--tclr));
}

@media (max-width: 1500px){
	header {
		position: relative;
	}

	header .container{
		width: 100%;
	}
	
	header .container ul a {
		font-size: 3.5vw;
		text-decoration: none;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: transparent;
		margin: 0 30px;
		-webkit-text-stroke : 1px var(--tclr);
	}
}


/*######* CV *######*/

/*###* section 1 *###*/
.sec1 {
	height: 100vh;
	width: 100%;
	background: var(--bck);
}

.sec1 .container {
	width: 70%;
	height: 100%;
	margin: auto;
	justify-content: center;
}

.sec1 .subcontainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
}

.sec1 .pagetitle {
	font-size:7vw;
	color:var(--tclr);
}

.sec1 .photo {
	width: 19em;
	height: 19em;
	border-radius: 10em;
}

.sec1 .cv {
	width: 17em;
	height: 24em;
	border-radius: 1em;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

@media (max-width: 950px) {
	.sec1 .subcontainer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	.sec1 .pagetitle {
		font-size: 9vw;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.sec1 .photo {
		width: 12em;
		height: 12em;
		border-radius: 6em;
	}

	.sec1 .cv {
		width: 15em;
		height: 20em;
	}
}



/*###* section 2 *###*/
.sec2 {
	height: 100vh;
	width: 100%;
	background: var(--bck2);
}

.sec2 .container {
	width: 90%;
	height: auto;
	margin: auto;
	position:relative;
	top: 25%;
}

.sec2 .subcontainer {
	width: auto;
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.sec2 .objectif {
	width: 5vw;
	height: 6vw;
	margin-right: 2vw;
}

.sec2 .pagetitle {
	font-size: 4em;
	color: var(--tclr);
}

.sec2 .content {
	font-size: 3em;
	color: var(--tclr);
}

@media (max-width: 950px) {
	.sec2 .container {
		top: 20%;
		width: 70%;
	}

	.sec2 .subcontainer {
		justify-content: center;
	}

	.sec2 .objectif {
		width: 6vw;
		height: 7vw;
		margin-right: 2vw;
	}

	.sec2 .pagetitle {
		font-size: 3em;
	}

	.sec2 .content {
		font-size: 2em;
	}
}

@media (max-width: 500px) {
	.sec2 .container {
		top: 40px;
	}
}

@media (max-width: 400px) {
	.sec2 .container {
		top: 20px;
	}

	.sec2 .objectif {
		width: 12vw;
		height: 13vw;
		margin-right: 2vw;
	}

	.sec2 .pagetitle {
		font-size: 2em;
	}

	.sec2 .content {
		font-size: 2em;
	}
}

/*###* section 3 *###*/
.sec3 {
	height: 100vh;
	width: 100%;
	background: var(--bck);
}

.sec3 .container {
	width: 90%;
	height: 100%;
	margin: auto;
	position: relative;
}

.sec3 .containertitle {
	display: flex;
	align-items: center;
	margin-top: 70px;
}

	.sec3 .school {
		width: 5vw;
		height: 6vw;
		margin-right: 2vw;
	}

	.sec3 .pagetitle {
		font-size: 4em;
		color: var(--tclr);
	}

.sec3 .subcontainer1 {
	width: auto;
	display: flex;
	align-items: center;
	margin-top: 50px;
}

	.sec3 .subcontainer1 .content {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

		.sec3 .subcontainer1 .iut {
			width: 10vw;
			height: 10vw;
		}

		.sec3 .subcontainer1 p {
			font-size: 3vw;
			color: var(--tclr);
			margin-right: 2vw;
		}

.sec3 .subcontainer2 {
	width: auto;
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-left: 25vw;
}

	.sec3 .subcontainer2 .content {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

		.sec3 .subcontainer2 .llg {
			width: 13vw;
			height: 10vw;
			margin-right: 2vw;
		}

		.sec3 .subcontainer2 p {
			font-size: 3vw;
			color: var(--tclr);
		}

@media (max-width: 950px) {
	.sec3 .containertitle {
		justify-content: center;
	}

	.sec3 .subcontainer1 {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		text-align: center;
	}

		.sec3 .subcontainer1 .iut {
			width: 10vw;
			height: 10vw;
		}

		.sec3 .subcontainer1 p {
			font-size: 4vw;
			margin-right: 0;
		}

	.sec3 .subcontainer2 {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

		.sec3 .subcontainer2 .llg {
			width: 13vw;
			height: 10vw;
			margin-right: 2vw;
		}

		.sec3 .subcontainer2 p {
			font-size: 4vw;
			margin-right: 0;
		}
}

@media (max-width: 550px) {
	.sec3 .containertitle {
		margin-top: 120px;
	}

	.sec3 .pagetitle {
		font-size: 12vw;
		color: var(--tclr);
	}

	.sec3 .school {
		width: 8vw;
		height: 9vw;
		margin-right: 0;
	}

		.sec3 .subcontainer1 .iut {
			width: 15vw;
			height: 15vw;
		}

		.sec3 .subcontainer1 p {
			font-size: 5vw;
			margin-right: 0;
		}

		.sec3 .subcontainer2 .llg {
			width: 17vw;
			height: 13vw;
			margin-right: 2vw;
		}

		.sec3 .subcontainer2 p {
			font-size: 5vw;
			margin-right: 0;
		}
}

/*###* section 4 *###*/
.sec4 {
	height: 100vh;
	width: 100%;
	background: var(--bck2);
}

	.sec4 .container {
		width: 90%;
		height: 100%;
		margin: auto;
		position: relative;
	}

	.sec4 .containertitle {
		display: flex;
		align-items: center;
		margin-top: 70px;
	}

		.sec4 .ordi {
			width: 5vw;
			height: 6vw;
			margin-right: 2vw;
		}

		.sec4 .pagetitle {
			font-size: 4em;
			color: var(--tclr);
		}

	.sec4 .subcontainer1 {
		height: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-left: 10%;
		margin-right: 10%;
	}

		.sec4 .comp1 {
			width: 30vw;
			height: 30vw;
			margin-right: 2vw;
		}

		.sec4 .comp2 {
			width: 30vw;
			height: 20vw;
		}

@media (max-width: 950px) {
	.sec4 .containertitle {
		justify-content: center;
	}

		.sec4 .ordi {
			width: 5vw;
			height: 6vw;
			margin-right: 0;
		}

		.sec4 .pagetitle {
			font-size: 9vw;
			color: var(--tclr);
		}

	.sec4 .subcontainer1 {
		display: flex;
		flex-direction: column; 
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}

	.sec4 .comp1 {
		width: 35vw;
		height: 35vw;
		margin-right: 0;
	}

	.sec4 .comp2 {
		width: 35vw;
		height: 22vw;
	}
}

@media (max-width: 700px) {
	.sec4 .comp1 {
		width: 45vw;
		height: 45vw;
		margin-right: 0;
	}

	.sec4 .comp2 {
		width: 45vw;
		height: 30vw;
	}
}

@media (max-width: 550px) {
	.sec4 .containertitle {
		margin-top: 40%;
	}

	.sec4 .comp1 {
		width: 60vw;
		height: 60vw;
		margin-right: 0;
	}

	.sec4 .comp2 {
		width: 60vw;
		height: 40vw;
	}
}

/*###* section 5 *###*/
.sec5 {
	height: 100vh;
	width: 100%;
	background: var(--bck);
}

	.sec5 .container {
		width: 90%;
		height: 100%;
		margin: auto;
		position: relative;
	}

	.sec5 .containertitle {
		display: flex;
		align-items: center;
		margin-top: 70px;
	}

	.sec5 .school {
		width: 5vw;
		height: 6vw;
		margin-right: 2vw;
	}

	.sec5 .pagetitle {
		font-size: 4em;
		color: var(--tclr);
	}

	.sec5 .subcontainer1 {
		width: auto;
		display: flex;
		align-items: center;
		margin-top: 30px;
	}

		.sec5 .subcontainer1 .content {
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.sec5 .subcontainer1 .elec {
			width: 10vw;
			height: 10vw;
		}

		.sec5 .subcontainer1 p {
			font-size: 3vw;
			color: var(--tclr);
			margin-right: 2vw;
		}

	.sec5 .subcontainer2 {
		width: auto;
		display: flex;
		align-items: center;
		margin-top: 30px;
		margin-left: 11vw;
	}

		.sec5 .subcontainer2 .content {
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.sec5 .subcontainer2 .archi {
			width: 13vw;
			height: 10vw;
			margin-right: 2vw;
		}

		.sec5 .subcontainer2 p {
			font-size: 3vw;
			color: var(--tclr);
		}

@media (max-width: 950px) {
	.sec5 .containertitle {
		justify-content: center;
	}

	.sec5 .subcontainer1 {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		text-align: center;
	}

		.sec5 .subcontainer1 .elec {
			width: 10vw;
			height: 10vw;
		}

		.sec5 .subcontainer1 p {
			font-size: 4vw;
			margin-right: 0;
		}

	.sec5 .subcontainer2 {
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

		.sec5 .subcontainer2 .archi {
			width: 13vw;
			height: 10vw;
			margin-right: 2vw;
		}

		.sec5 .subcontainer2 p {
			font-size: 4vw;
			margin-right: 0;
		}
}

@media (max-width: 550px) {
	.sec5 .containertitle {
		margin-top: 120px;
	}

	.sec5 .pagetitle {
		font-size: 12vw;
		color: var(--tclr);
	}

	.sec5 .school {
		width: 8vw;
		height: 9vw;
		margin-right: 0;
	}

	.sec5 .subcontainer1 .elec {
		width: 15vw;
		height: 15vw;
	}

	.sec5 .subcontainer1 p {
		font-size: 5vw;
		margin-right: 0;
	}

	.sec5 .subcontainer2 .archi {
		width: 17vw;
		height: 13vw;
		margin-right: 2vw;
	}

	.sec5 .subcontainer2 p {
		font-size: 5vw;
		margin-right: 0;
	}
}



#ong-slide {
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
	z-index: 9999;
}

#ong-slide a {
	height: 20px;
	width: 20px;
	margin: 5px 0;
	background-color: white;
	border: 5px solid #450355;
	border-radius: 50px;
}

#ong-slide a.active {
	background-color: #4800bf;
}

@media(max-width: 800px) {
	#ong-slide {
		display: none;
	}
}