

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins";
	text-decoration: none;
	list-style: none;
	overflow-x: hidden;
}

body {
	background: var(--bck);
	width: 100%;
    height: 100vh;
	overflow: hidden;
}

/*---NAV Bar---*/
header {
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	z-index: 10;
}

header .container{
	height: 100%;
	width: 1500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header .container ul {
	display: flex;
}

header .container a img {
	display: flex;
	margin: 0 30px;
}

header .container ul a {
	font-size: 2vw;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	margin: 0 30px;
	-webkit-text-stroke : 1px rgb(0, 0, 0)
}

header .container ul a::before {

	content: attr(data-text);
	position: absolute;
	color: var(--tclr);
	width: 0;
	overflow: hidden;
	transition: 2s;
	-webkit-text-stroke : 1px var(--tclr);;
}

header .container ul a:hover::before {
	width: 100%;
	filter: drop-shadow(0 0 25px var(--tclr));
}

@media (max-width: 1500px){
	header {
		position: relative;
	}

	header .container{
		width: 100%;
	}
	
	header .container ul a {
		font-size: 3.5vw;
	}
}

/* ~~~ index ~~~*/
.s1 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /*filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

.s1 .tittle {
    width: 80%;
    height: 7%;
    overflow: hidden;
    color: var(--tclr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5.5em;
    font-family: fantasy;
    margin-block: 1.5%;
}

.s1 .container {
    width: 80%;
    height: 75%;
    background: var(--bck2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.s1 .container .question {
    font-size: 3.6em;
	width: 80%;
	font-weight: bold;
}

.s1 .container .imagechoose {
    width: 80%;
    background: var(--bck2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s1 .container a {
    font-size: 2em;
	font-weight: bold;
	color: var(--tclr);
}

.s1 .container h5 {
	font-size: 6em;
	font-weight: bold;
	color: red;
}

.s1 .container div p {
	font-size: 3.5em;
	font-weight: bold;
	color: var(--tclr);
}

.gagner {
    color: greenyellow;
}

.perdu {
    color: red;
}

.egalite {
    color: gray;
}

.s1 .container #rematch {
    color: gray;
	background-color: white;
	width: 150px;
	border-radius: 20px;
}

.s1 .container #rematch:hover {
    transform: scale(1.4);
	color: aqua;
}

@media (max-width:820px){
    .s1 .tittle {
		font-size: 3.5em;
	}
	
	.s1 .container .question {
		font-size: 2.5em;
	}

	.s1 .container .imagechoose img {
		width: 120px;
	}
	
	.s1 .container a{
		font-size: 1.5em;
	}

	.s1 .container h5 {
		font-size: 3.2em;
		width: 95%;
	}

	.s1 .container div p {
		font-size: 2.5em;
	}
}

@media (max-width:586px){
    .s1 .tittle {
		font-size: 2.3em;
		margin-block: 17px;
	}
	
	.s1 .container .question {
		font-size: 1.9em;
	}
	
	.s1 .container .imagechoose {
		flex-direction: column;
	}

	.s1 .container .imagechoose img {
		width: 75px;
	}
	
	.s1 .container a{
		font-size: 1.9em;
	}

	.s1 .container h5 {
		font-size: 2.6em;
	}

	.s1 .container div p {
		font-size: 2.3em;
	}
}

@media (max-width:256px){
    .s1 .tittle {
		font-size: 1.7em;
		height: 70px;
		text-align: center;
	}
	
	.s1 .container .question {
		font-size: 1.7em;
		width: 90%;
	}

	.s1 .container .imagechoose img {
		width: 75px;
	}
	
	.s1 .container a {
		font-size: 1.4em;
	}

	.s1 .container h5 {
		font-size: 1.7em;
	}

	.s1 .container div p {
		font-size: 1.1em;
	}

	.s1 .container #rematch {
		color: gray;
		background-color: white;
		width: 110px;
		border-radius: 20px;
	}
	
	.s1 .container #rematch:hover {
		transform: scale(1.1);
		color: aqua;
	}
}