

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins";
	text-decoration: none;
	list-style: none;
	overflow-x: hidden;
}

body {
	background: var(--bck);
	width: 100%;
    height: 100vh;
	overflow: hidden;
}

/*---NAV Bar---*/
header {
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	z-index: 10;
}

header .container{
	height: 100%;
	width: 1500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header .container ul {
	display: flex;
}

header .container a img {
	display: flex;
	margin: 0 30px;
}

header .container ul a {
	font-size: 2vw;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	margin: 0 30px;
	-webkit-text-stroke : 1px rgb(0, 0, 0)
}

header .container ul a::before {

	content: attr(data-text);
	position: absolute;
	color: var(--tclr);
	width: 0;
	overflow: hidden;
	transition: 2s;
	-webkit-text-stroke : 1px var(--tclr);;
}

header .container ul a:hover::before {
	width: 100%;
	filter: drop-shadow(0 0 25px var(--tclr));
}

@media (max-width: 1500px){
	header {
		position: relative;
	}

	header .container{
		width: 100%;
	}
	
	header .container ul a {
		font-size: 3.5vw;
		text-decoration: none;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: transparent;
		margin: 0 30px;
		-webkit-text-stroke : 1px rgb(0, 0, 0);
	}
}

/* ~~~ index ~~~*/
.s1 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    /*filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

.s1 .tittle {
    width: 80%;
    height: 10%;
    overflow: hidden;
    color: var(--tclr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5em;
    font-family: fantasy;
}

.s1 .container {
    width: 80%;
    height: 70%;
    margin-block: 5%;
    background: var(--bck2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.s1 .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bck);
    width: 80%;
    height: 30%;
    border-radius: 2vw;
}

    .s1 .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30%;
        border-radius: 2vw;
        overflow-y:hidden;
    }
    
        .s1 .line p {
            font-size: 3em;
            font-weight: bold;
            color: var(--tclr);
            overflow-y: hidden;
        }

        .s1 .content a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: var(--tclr);
            background-color: #aaaaaa;
            width: 13vw;
            height: 50px;
            border-radius: 4vw;
            margin-inline: 20px;
            font-weight: bold;
            overflow-y: hidden;
        }

        .s1 .content a:hover {
            scale: 1.2;
            font-size: 1.2em;
            transition: 0.5s;
            background-color: #70bcfa;
            overflow-y: hidden;
            border-radius: 0vw;
        }


@media (820px <= width >= 486px){
    header .container ul a {
        font-size: 6vw;
    }

    .s1 .tittle {
        width: 80%;
        height: 10%;
        overflow: hidden;
        color: var(--tclr);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 5em;
        font-family: fantasy;
    }
    
    .s1 .container {
        width: 80%;
        height: 90%;
        margin-block: 5%;
    }

    .s1 .line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bck);
        width: 80%;
        height: 30%;
        border-radius: 2vw;
    }
    
    .s1 .content {
        height: 75%;
        margin-block: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        
    .s1 .line p {
        font-size: 3em;
        height: 25%;
        font-weight: bold;
        color: var(--tclr);
        overflow-y: hidden;
    }

    .s1 .content a {
        font-size: 1.2em;
        width: 70%;
        height: 30px;
        font-weight: bold;
    }
}

@media (max-width: 485px){
    header .container ul a {
        font-size: 7vw;
    }

    .s1 .tittle {
        width: 80%;
        height: 10%;
        font-size: 4em;
    }
    
    .s1 .container {
        width: 80%;
        height: 90%;
        margin-block: 5%;
    }

    .s1 .line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bck);
        width: 90%;
        height: 38%;
        border-radius: 2vw;
    }
    
    .s1 .content {
        height: 75%;
        margin-block: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
        
    .s1 .line p {
        font-size: 3em;
        height: 25%;
        font-weight: bold;
        color: var(--tclr);
        overflow-y: hidden;
    }

    .s1 .content a {
        font-size: 1.2em;
        width: 90%;
        height: 27%;
        font-weight: bold;
    }
}
/*
@media (max-width: 485px){

    .s1 .tittle {
        font-size: 2.7em;
        overflow: visible;
    }

}
*/